<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Airline</display-name>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Adiministrative Page</web-resource-name>
            <description/>
            <url-pattern>/Admin_Controller</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>A</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Manager Page</web-resource-name>
            <description/>
            <url-pattern>/Manager_Controller</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>M</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/html/admin_login.html</form-login-page>
            <form-error-page>/html/authentication_error.html</form-error-page>
        </form-login-config>
    </login-config>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <description>
		</description>
        <display-name>SignUp</display-name>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>com.ncl.SignUp</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>LogIn</display-name>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>com.ncl.LogIn</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>Log_In</display-name>
        <servlet-name>Log_In</servlet-name>
        <servlet-class>com.ncl.Log_In</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>Manager_Controller</display-name>
        <servlet-name>Manager_Controller</servlet-name>
        <servlet-class>com.ncl.Manager_Controller</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>Admin_Controller</display-name>
        <servlet-name>Admin_Controller</servlet-name>
        <servlet-class>com.ncl.Admin_Controller</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>Admin_DB_Controller</display-name>
        <servlet-name>Admin_DB_Controller</servlet-name>
        <servlet-class>com.ncl.Admin_DB_Controller</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>Manager_Approved_DB</display-name>
        <servlet-name>Manager_Approved_DB</servlet-name>
        <servlet-class>com.ncl.Manager_Approved_DB</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>Flight_Table_Controller</display-name>
        <servlet-name>Flight_Table_Controller</servlet-name>
        <servlet-class>com.ncl.Flight_Table_Controller</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>Booking_Controller</display-name>
        <servlet-name>Booking_Controller</servlet-name>
        <servlet-class>com.ncl.Booking_Controller</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>Payment_Controller</display-name>
        <servlet-name>Payment_Controller</servlet-name>
        <servlet-class>com.ncl.Payment_Controller</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>Log_out</display-name>
        <servlet-name>Log_out</servlet-name>
        <servlet-class>com.ncl.Log_out</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Flight_Controller</servlet-name>
        <servlet-class>com.ncl.Flight_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewWebService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log_In</servlet-name>
        <url-pattern>/Log_In</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_Controller</servlet-name>
        <url-pattern>/Manager_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Controller</servlet-name>
        <url-pattern>/Admin_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_DB_Controller</servlet-name>
        <url-pattern>/Admin_DB_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_Approved_DB</servlet-name>
        <url-pattern>/Manager_Approved_DB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Flight_Table_Controller</servlet-name>
        <url-pattern>/Flight_Table_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking_Controller</servlet-name>
        <url-pattern>/Booking_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment_Controller</servlet-name>
        <url-pattern>/Payment_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log_out</servlet-name>
        <url-pattern>/Log_out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Flight_Controller</servlet-name>
        <url-pattern>/Flight_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewWebService</servlet-name>
        <url-pattern>/NewWebService</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    
    
  
</web-app>
